**/*.o
**/*.d
**/kernel.asm
**/kernel.dis
**/kernel.elf
**.dis
debug.sh
ls2k_debug.sh
ls2k_release.sh
build/**
.vscode/
.vscode/*
*.bin
*.dis
copy_kernel_to_ext4.sh
oscomp/*
glibc
testsuits
.gdb_cmd.txt